[submodule "carbonio/vendor/github.com/kward/tabulate"]
	path = carbonio/vendor/github.com/kward/tabulate
	url = https://github.com/kward/tabulate.git
[submodule "carbonio/vendor/github.com/spf13/cobra"]
	path = carbonio/vendor/github.com/spf13/cobra
	url = https://github.com/spf13/cobra.git
[submodule "carbonio/vendor/github.com/spf13/pflag"]
	path = carbonio/vendor/github.com/spf13/pflag
	url = https://github.com/spf13/pflag.git
