<html>
<head>
	<script type="text/javascript" src="/static/jquery-3.4.1.min.js"></script>
	<title>{{.Title}}</title>
</head>

<body>
	<h2>List updates every 3 sec</h2>
	<pre><div id="output"></div></pre>
	<script type="text/javascript">
    $(document).ready(function () {
      setInterval("query()", 3 * 1000);
      query();
    });
    function query() {
      $.post("/list_query", "", function(data, status) {
      $("#output").empty();
      $("#output").append(data);
      });
    }
  </script>
</body>
</html>
